img{
    max-height: 300px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}
#paintingsGallery{
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.painting-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}