@font-face{
    font-family: 'space-mono';
    src: url(fonts/SpaceMono-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style:normal;
} 
@font-face{
    font-family: 'space-mono';
    src: url(fonts/SpaceMono-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style:italic;
} 
@font-face{
    font-family: 'space-mono';
    src: url(fonts/SpaceMono-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style:italic;
} 
@font-face{
    font-family: 'space-mono';
    src: url(fonts/SpaceMono-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style:normal;
} 
@font-face{
    font-family: 'Questrial';
    src: url(fonts/Questrial-Regular.ttf);
    font-weight: normal;
}

body {
    padding-top: 10vh;
    background: radial-gradient(circle, rgb(55, 53, 53), rgb(26, 26, 26));
    overflow-x: hidden;
    font-family: "space-mono", sans-serif;    
    color: aliceblue; 
    margin: 0px;
}
a{
    text-decoration: none;
    color: aliceblue;
}

section{
    padding: 50px;
}
img{
    box-shadow: #0b0b0b 5px 5px 5px;
    background-size: cover;
}
p{
    font-size: 25.817px;
    line-height: 138.023%;
    letter-spacing: 0.933px;
}
h1{
    font-size: 40px;
    position: sticky;
    top: 50px;
    margin-left: 50px;
    text-shadow: #151515 2px 2px 2px;  
    letter-spacing: -0.529px;
    line-height: 38px;
}
.sticker-div-1{
    position: relative;
}

.home-art-divs-section{
    gap: 100px;
    display: flex;
    flex-direction: column;
}
.home-art-div{
    position: relative; 
    display: inline-block; 
    min-width: 100%;
    display: flex;
}
.home-art-img{
    width: 100%;
    height: auto;
    max-height: 100vh;
}
.home-art-a{
    font-size: 22px;
    font-style: normal;
    line-height: 89.023%; /* 84.75px */
    text-shadow: #0b0b0b 5px 5px 15px;
    position: absolute;
    bottom: -13px;
    top: auto;
    text-align: right;
    right: -15px;
    rotate: 90deg;
    transform-origin: right;
    text-wrap: nowrap;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.text-container {
    text-align: left; 
    padding: 20px; 
}
.image-container {
    text-align: right; 
    padding: 20px; 
}


.painting {
    width: 100%;
}
h2{
    font-weight: bold;
    font-size: 40px;
}
.center-content{
    display: flex;
    justify-content: center;
}
.button{
    background-color: #fcc57e;
    color: #0b0b0b;
    font-size: 20px;
    padding: 14px 30px;
    border-radius: 50px;
}

/* About section */

.about-section{
    padding: 50px 0;

}
.about-div {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url(assets/pilar\ with\ paintingss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    z-index: 1;
}
.about-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #211E1E 0.31%, rgb(33 30 30 / 50%) 46.84%, rgb(33 30 30 / 35%) 113.7%);
}
.about-p{
    position: relative;
    font-family: "Questrial";
    font-size: 3.2vw;
    line-height: 150%; 
    width: 60%;
    z-index: 3;
    left: 50px;
    top:25px;
    text-shadow: #0b0b0b 1px 1px 3px;
}

/* Grid 4*/

.grid4-row-top{
    display:flex;
    justify-content: flex-start;
    justify-content: baseline;
    max-height: auto;
    margin-bottom: 25px;
    flex-flow: wrap;
    align-items: flex-end;
}
.grid4-row-bottom{
    display:flex;
    max-height: auto;
    justify-content: flex-end;
    flex-flow: wrap;
}
.grid4-img-left{
    margin-right: 40px;
}
.grid4-smaller{
    display: flex;
    max-height: 40vh;
}
.grid4-img{
    max-width: 30vw;
}


/* Vertical twins */
.vertical-twins-div{
    display: flex;
    gap: 25px;
}
.right{
    justify-content: flex-end;
}
.vertical-twin{
    height: 85vh;
}
.red{
    background-color:#871530;
}

/* 3 in a line */
.center-screen{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.inarow3{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 20px;
}
.row3{
    position: relative;
    max-width: 27vw;
}
.img1st{
    margin-top: 55px;
}
.img3rd{
    margin-top: 140px;
}